.input-container {
  display: grid;
  grid-template-columns: 5fr 5fr 1fr;
  place-content: center;

  background-color: rgb(40, 65, 189);
  border: none;
  border-radius: 10px;

  padding: 20px 40px;
  margin-left: 40px;
  margin-right: 30px;
}

.todo-input {
  padding: 5px 10px;
  margin: 0px 5px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.todo-add-button {
  background-color: rgb(0, 162, 255);
  color: white;
  border: none;
  border-color: rgb(190, 190, 190);
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(255,255,255);
  transition-duration: 0.2s;
}

.todo-add-button:hover {
  box-shadow: 0px 0px 15px rgb(255,255,255);
}

.todo-add-button:active {
  background-color: rgb(90, 147, 255);
}

.clear-center {
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  place-items: center;
}

.todo-clear-button {
  border: none;
  border-radius: 10px;
  border-color: rgb(250, 0, 0);
  background-color: white;
  color: rgb(250, 0, 0);
  padding: 10px;

  box-shadow: 0px 0px 5px rgb(210, 0, 0);
  transition-duration: .2s, .5s, .5s;
  transition-property: background-color, box-shadow, border-width;
}

.todo-clear-button:hover {
  /*background-color: rgb(250, 0, 0);
  box-shadow: 0px 0px 15px rgb(150, 0, 0);
  color: white;*/
  border: solid;
  border-color: red;
  border-width: 3px;
}

.todo-clear-button:active {
  background-color: rgb(200, 0, 0);
  color: white;
  border-color: rgb(200, 0, 0);
}