.todo-container {
  background-color: beige;
  list-style-type: none;

  margin-bottom: 20px;
  margin-right: 30px;

  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 5px 5px 10px rgba(20, 20, 100,0.5);

  border:none;
  border-radius: 10px;
}

.todo-title {
  color: blue;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
}

.todo-description {
  color:coral;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
}

.todo-buttons-container {
  margin-top: 10px;
}

.todo-buttons {
  margin-right: 2px;
}
